@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

// VARIABLES START
$themeColor: #077bc3;
// VARIABLES END

/* GLOBAL CLASSES START */
html {
	width: 100%;
	font-size: 62.5%;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 60.5%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 58.5%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 56.5%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 52.5%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 50.5%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 46.5%;
	}
}

.themeBtn {
	border: none;
	outline: none;
	background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
	padding: 0.7rem 4.2rem;
	color: #fff;
	font-size: 1.4rem;
	border-radius: 6px;
	box-shadow: 1px 1px 12px #ccc;
}

.themeBtn2 {
	border: none;
	outline: none;
	background: #fff;
	box-shadow: 1px 1px 12px #ccc;
	padding: 0.7rem 4.2rem;
	font-size: 1.4rem;
	border-radius: 6px;
}

.themeBtn3 {
	border: none;
	outline: none;
	background: linear-gradient(270deg, #209edb 0%, #4dbcef 100%), #c4c4c4;
	box-shadow: 1px 1px 12px #ccc;
	padding: 0.7rem 4.2rem;
	font-size: 1.4rem;
	border-radius: 6px;
	color: #fff;
}

.themeBtn4 {
	border: none;
	outline: none;
	background: linear-gradient(270deg, #e66f01 0%, #ff9501 100%), #c4c4c4;
	box-shadow: 1px 1px 12px #ccc;
	padding: 0.8rem 4.2rem;
	font-size: 1.4rem;
	border-radius: 6px;
	color: #fff;
}

.themeBtn5 {
	background: linear-gradient(0deg, #dce5ec, #dce5ec), #1b8acc;
	color: $themeColor;
	padding: 0.8rem 6.2rem;
	font-size: 1.4rem;
	border: none;
	border-radius: 6px;
}

.themeColor {
	color: $themeColor;
}

.themeColor2 {
	color: #969696;
}

.contentMax {
	width: max-content;
}

.xScrollbarHide {
	overflow-x: hidden;
}

.descriptionText {
	word-spacing: 8px;
	line-height: 22px;
}

.lightPlaceholderInp {
	&::placeholder {
		color: #969696;
	}
}

input {
	border-bottom: 1px solid #bbbbbb;
	transition: 0.5s;

	&:focus {
		outline: none;
		border: none;
		border-bottom: 1px solid #000;
	}
}

button {
	&:focus {
		border: none;
		outline: none;
	}
}

.musicPlayer {
	background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%), #c4c4c4;
}

.recordingBg {
	background: #e9eaeb;
}

.infoSelectBox {
	width: 100%;
	select {
		width: 100%;
		border: none;
		border-bottom: 1px solid #ccc;

		option {
			border: none;
			padding: 1rem;
		}

		&:focus {
			border: none;
			border-bottom: 1px solid #ccc;
			outline: none;
		}
	}
	.selectIcon {
		position: absolute;
		right: -1%;
	}

	select {
		/* for Firefox */
		-moz-appearance: none;
		/* for Safari, Chrome, Opera */
		-webkit-appearance: none;
	}

	/* for IE10 */
	select::-ms-expand {
		display: none;
	}
}
/* GLOBAL CLASSES END */

.mainBody {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.withPadding {
	padding-top: 13rem;
}

.borderRounded {
	border-radius: 8px;
}

.pointer {
	cursor: pointer;
}

// CONTAINER START
.home_container {
	background: #f1f1f1;
}
// CONTAINER END

// UPPER HEADER START
.upperHeader_container {
	background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;

	.inner_container {
		max-width: 1090px;
		margin-left: auto;
		margin-right: auto;
	}
}
// UPPER HEADER END

/* ==== TOP NAVBAR START ==== */
.NavbarContainer {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	padding: 4.5rem 0rem;
	padding-bottom: 1.6rem;
	transition: 0.7s;
	z-index: 2;
	box-shadow: 1px -1px 10px #ccc;
	background-color: #fff;

	.innerNavbar {
		max-width: 1090px;
		margin-left: auto;
		margin-right: auto;

		.categoriesList_container {
			height: 0;
			margin-top: 3rem;

			.categoryCard {
				background-color: #fff;
				box-shadow: 1px 1px 10px rgb(226, 226, 226);
				border-radius: 10px;

				img {
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
				}

				div:nth-child(1) {
					width: 60%;
				}
				div:nth-child(2) {
					width: 30%;
				}

				h4 {
					color: $themeColor;
				}
			}
		}
	}

	.column1 {
		width: 29%;

		.logo_container {
			img {
				width: 100%;
			}
		}
	}
	.column2 {
		width: 36%;
		background: linear-gradient(180deg, #4dbcef 0%, #077bc3 100%);
		border-radius: 15px;
		height: 100%;

		.form-control {
			border-left: none;
			border-top-right-radius: 15px !important;
			border-bottom-right-radius: 15px !important;
			height: 45px;
			font-size: 1.8rem;

			&:focus {
				color: none;
				background-color: none;
				border-color: none;
				outline: 0;
				box-shadow: none;
			}
		}

		.input-group {
			height: 45px;

			.input-group-prepend {
				.input-group-text {
					background-color: #fff;
					border-top-left-radius: 15px;
					border-bottom-left-radius: 15px;
				}
			}
			.input-group-append {
				.input-group-text {
					background: none;
					border-left: none;
					border-top-right-radius: 15px !important;
					border-bottom-right-radius: 15px !important;
				}
			}
		}
	}
	.column3 {
		width: 35%;
	}

	@media screen and (max-width: 1050px) {
		.column3 {
			width: 40%;
		}
	}

	.headerCategory {
		background: linear-gradient(0deg, #dce5ec, #dce5ec), #c4c4c4;
		border-radius: 4px;
		padding: 1rem 0.8rem;
		font-size: 1.6rem;
		border: none;
		color: $themeColor;
	}

	.headerPoster {
		background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
		border-radius: 4px;
		// padding: 0.4rem 0.8rem;
		font-size: 1.6rem;
		border: none;
		color: #fff;
		height: 100%;
	}

	.headerHeart {
		background: transparent;
		padding: 0.4rem 0.8rem;
		font-size: 1.6rem;
		border: none;
	}

	.userInfoDD {
		position: absolute;
		top: 155%;
		right: 0%;
		width: 350%;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 0px 10px rgb(231, 231, 231);
		height: 0;

		ul {
			.active {
				color: $themeColor;
			}
			a {
				text-decoration: none;
				color: #000;

				&:hover {
					text-decoration: none;
				}
			}
			li.deconnector:nth-last-child(1) {
				background: #209edb;
				color: #fff;
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}

		li {
			font-size: 1.4rem;
			padding: 0.6rem 1.5rem;
			cursor: pointer;
			transition: 0.8s all;

			&:hover {
				color: $themeColor;
			}
		}
	}

	.logo_container {
		cursor: pointer;
		img {
			transition: 0.7s;
		}

		@media screen and (max-width: 330px) {
			img {
				width: 150px;
			}
		}
	}

	.placeholderImg {
		width: 45px;
	}
}

.NavbarContainer.sticky {
	padding: 1.2rem 0rem;
	box-shadow: 1px -1px 10px #ccc;
	background-color: #fff;

	.innerNavbar {
		max-width: 1090px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1000px) {
	.NavbarContainer,
	.NavbarContainer.sticky {
		padding: 4.5rem 1.6rem;
		padding-bottom: 1.6rem;
	}
}

@media screen and (max-width: 952px) {
	.NavbarContainer.sticky .HideClass i {
		color: #fff;
	}
}

@media screen and (max-width: 800px) {
	.NavbarContainer,
	.NavbarContainer.sticky {
		padding: 4.5rem 1.6rem;
		padding-bottom: 1.6rem;
	}
}
/* ==== TOP NAVBAR END ==== */

/* ==== FEATURE SECTION START ==== */
.feature_containerMain {
	padding-top: 15rem;
}

.feature_container {
	max-width: 1070px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	background-color: #fff;
	padding: 1.2rem 0rem;
	border-radius: 8px;

	.slick-prev:before {
		content: url("../assets/left.svg");
		font-weight: 900;
		background-color: #fff;
		height: 30px;
		width: 28px;
	}

	.slick-next:before {
		content: url("../assets/right.svg");
		color: black;
		font-weight: 900;
		font-size: 2rem;
		background-color: #fff;
		height: 30px;
		width: 28px;
	}

	.slick-prev {
		left: -1%;
	}
	.slick-next {
		right: -8px;
	}

	.slick-prev,
	.slick-next {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		background-color: #fff;
		border-radius: 6px;
		height: 30px;
		width: 28px;
		box-shadow: 1px 1px 10px rgb(224, 224, 224);

		&:hover {
			background-color: #fff;
			height: 30px;
			width: 28px;
		}
	}
}

.featureCard {
	border-radius: 8px;
	width: 114%;
	height: 83px;

	h5 {
		width: 100%;
	}
}

/* ==== FEATURE SECTION END ==== */

/* ==== MAIN BODY START ==== */
.favorisTab {
	width: 100% !important;
}
.annoncesCard {
	background: #fff;
	box-shadow: 1px 1px 10px #ccc;
	border-radius: 8px;
	width: 182px;

	.imgContainer {
		cursor: pointer;
		position: relative;

		.productImg {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}

		.heartOnImg {
			position: absolute;
			top: 2%;
			right: 2%;
			padding: 1rem 0.4rem 0.8rem 0.4rem;
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 50%;
		}

		.titleOnImg {
			position: absolute;
			bottom: 3%;
			left: 4%;
			padding: 0.4rem 1.8rem;
			background: rgba(0, 0, 0, 0.4);
			border-radius: 10px;
		}

		.musicOnImg {
			position: absolute;
			bottom: -13%;
			right: 2%;
			padding: 1rem 0.9rem;
			background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%),
				#c4c4c4;
			border-radius: 50%;

			img {
				width: 30px;
				height: auto;
			}
		}
	}

	.cardBtns {
		button {
			border: none;
			font-size: 1.3rem;
		}
		button:nth-child(1) {
			background: linear-gradient(270deg, #e66f01 0%, #ff9501 100%), #c4c4c4;
			border-bottom-left-radius: 8px;
		}
		button:nth-child(2) {
			background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
			border-bottom-right-radius: 8px;
		}
	}
}
/* ==== MAIN BODY END ==== */

/* ==== FOOTER START ==== */
.footer_container {
	background: #fff;
	padding: 4rem 0rem 2rem 0rem;
	margin-top: 6rem;
	box-shadow: 1px 1px 10px #ccc;

	.innerFooter {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;

		.pointer {
			transition: 0.4s;
			&:hover {
				color: $themeColor;
			}
		}
	}
}
.footerText {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
/* ==== FOOTER END ==== */

/* ==== SEARCH LIST BANNER START ==== */
.searchBanner_container {
	padding-top: 12rem;
	margin-left: auto;
	margin-right: auto;

	img {
		width: 100%;
	}
}
.searchTags {
	div {
		padding: 0.4rem 1.7rem;
		background-color: #fff;
		font-size: 1.2rem;
		border-radius: 6px;

		img {
			position: absolute;
			top: -28%;
			right: -6%;
		}
	}
}
/* ==== SEARCH LIST BANNER END ==== */

/* ==== SEARCH CATEGORY START ==== */
.searchCategory_container {
	background-color: #fff;
	width: 100%;
	padding: 1.2rem 1.5rem;

	.inpContainer {
		input {
			position: relative;
			width: 100%;
			height: 3rem;
			outline: none;
			border: 1px solid #ccc;
			border-radius: 6px;
			padding: 1rem;
			font-size: 1.4rem;
		}

		.searchIcon {
			position: absolute;
			top: 20%;
			right: 3%;
		}
	}

	.rangeInp {
		input {
			height: 3.2rem;
			padding: 0.7rem;
			font-size: 1.8rem;
		}
	}

	.MuiSlider-rail {
		background: #d0dcff;
		height: 6px;
	}

	.MuiSlider-track {
		background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
		height: 6px;
	}

	.MuiSlider-thumb {
		width: 18px;
		height: 18px;
		background-color: #fff;
		box-shadow: 1px 1px 10px #ccc;
		border: 1px solid #ccc;
		margin-top: -7px;
	}

	.PrivateValueLabel-circle-4 {
		background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
		font-size: 1.2rem;
	}

	.MuiSlider-valueLabel {
		left: calc(-30% - 4px);
	}

	.vendeurBtn {
		/* The container */
		.containerRadio {
			display: block;
			position: relative;
			padding-left: 28px;
			margin-bottom: 12px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide the browser's default radio button */
		.containerRadio input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		/* Create a custom radio button */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 18px;
			width: 18px;
			background-color: #eee;
			border-radius: 50%;
		}

		/* On mouse-over, add a grey background color */
		.containerRadio:hover input ~ .checkmark {
			background-color: #ccc;
		}

		/* When the radio button is checked, add a blue background */
		.containerRadio input:checked ~ .checkmark {
			background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
		}

		/* Create the indicator (the dot/circle - hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the indicator (dot/circle) when checked */
		.containerRadio input:checked ~ .checkmark:after {
			display: block;
		}

		/* Style the indicator (dot/circle) */
		.containerRadio .checkmark:after {
			top: 6px;
			left: 6px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: white;
		}
	}

	.classementBtn {
		/* The container */
		.containerSelect {
			display: block;
			position: relative;
			padding-left: 22px;
			margin-bottom: 12px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide the browser's default checkbox */
		.containerSelect input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 16px;
			width: 16px;
			background-color: #eee;
		}

		/* On mouse-over, add a grey background color */
		.containerSelect:hover input ~ .checkmark {
			background-color: #ccc;
		}

		/* When the checkbox is checked, add a blue background */
		.containerSelect input:checked ~ .checkmark {
			background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
			border-radius: 4px;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the checkmark when checked */
		.containerSelect input:checked ~ .checkmark:after {
			display: block;
		}

		/* Style the checkmark/indicator */
		.containerSelect .checkmark:after {
			left: 5px;
			top: 3px;
			width: 5px;
			height: 8px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
/* ==== SEARCH CATEGORY END ==== */

/* ==== PRODUCT DETAILS START ==== */
.infoList {
	li:nth-child(odd) {
		background-color: #e6e6e6;
	}
}

.userBtn {
	button {
		border: none;
		font-size: 1.5rem;
		border-radius: 6px;
		box-shadow: 1px 1px 10px rgb(230, 230, 230);
	}
	button:nth-child(1) {
		background: linear-gradient(270deg, #e66f01 0%, #ff9501 100%), #c4c4c4;
	}
	button:nth-child(2) {
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
	}
}

.eyeBtn {
	span:nth-child(2) {
		background-color: #ccc;
		padding: 0.4rem 1rem;
		border-radius: 8px;
	}
}

.imageGalleryContainer {
	.image-gallery {
		box-shadow: 1px 1px 10px rgb(230, 230, 230);
		border-radius: 6px;
		background-color: #fff;
	}

	.image-gallery-thumbnail.active,
	.image-gallery-thumbnail:hover,
	.image-gallery-thumbnail:focus {
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
	}

	.image-gallery-slide .image-gallery-image {
		object-fit: fill;
	}

	.image-gallery-thumbnail .image-gallery-thumbnail-image {
		height: 82px;
	}

	.image-gallery-content .image-gallery-slide .image-gallery-image {
		max-height: 450px;
		height: 450px;
		background-color: #fff;
	}

	.imgContainer img {
		position: absolute;
		top: 1%;
		right: 1%;
		padding: 1.5rem 1.4rem;
		background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%),
			#c4c4c4;
		border-radius: 50%;
	}
}

/* ==== PRODUCT DETAILS END ==== */

/* ==== USER DETAILS CARD START ==== */
.userCard {
	.userBg {
		position: relative;
		img {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		.cameraDiv {
			position: absolute;
			right: 2%;
			top: 4%;
			padding: 5px 8px;
			font-size: 15px;
			color: $themeColor;
			box-shadow: 1px 1px 10px #ccc;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.8);
			cursor: pointer;
		}

		.userImage {
			background-color: #fff;
			padding: 5px;
			border-radius: 50%;
			position: absolute;
			bottom: -30%;
			left: 5%;

			img {
				width: 70px;
				height: 70px;
			}

			.cameraDiv2 {
				position: absolute;
				left: 2%;
				bottom: -2%;
				padding: 3px 7px;
				font-size: 15px;
				color: $themeColor;
				box-shadow: 1px 1px 10px #ccc;
				border-radius: 50%;
				background: #fff;
				cursor: pointer;
			}
		}
	}
}

.userInfoDD2 {
	border-radius: 8px;

	ul {
		.active {
			color: $themeColor;
		}
		a {
			text-decoration: none;
			color: #000;

			&:hover {
				text-decoration: none;
			}
		}
	}

	li {
		cursor: pointer;
		transition: 0.3s all;

		&:hover {
			color: $themeColor;
		}
	}

	// MESSAGE BADGE START
	.MuiBadge-anchorOriginTopRightRectangle {
		top: 2px;
		right: -9px;
	}

	.MuiBadge-badge {
		height: 16px;
		font-size: 1rem;
		min-width: 8px;
	}
	// MESSAGE BADGE END
}
/* ==== USER DETAILS CARD END ==== */

/* ==== STATE CARD START ==== */
.statesCard {
	height: 100px;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgb(158, 158, 158);

	h1 {
		font-size: 3.8rem;
	}
}
/* ==== STATE CARD END ==== */

/* ==== LANGUAGE START ==== */
.languageCheckboxes {
	/* The container */
	.container {
		display: block;
		position: relative;
		padding-left: 30px;
		margin-bottom: 10px;
		cursor: pointer;
		font-size: 16px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */
	.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		border: 2px solid $themeColor;
		border-radius: 4px;
	}

	/* On mouse-over, add a grey background color */
	.container:hover input ~ .checkmark {
		background-color: transparent;
	}

	/* When the checkbox is checked, add a blue background */
	.container input:checked ~ .checkmark {
		background-color: #fff;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.container .checkmark:after {
		left: 6px;
		top: 2.4px;
		width: 5px;
		height: 10px;
		border: solid $themeColor;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

/* ==== LANGUAGE END ==== */

/* ==== MESSAGE SECTION IN PROFILE START ==== */
.productImgContainer {
	position: absolute;
	left: 20%;
	background: linear-gradient(
		90deg,
		rgba(204, 204, 204, 0.5) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	border-top-left-radius: 22px;
	border-bottom-left-radius: 28px;
	img {
		width: 47px;
		height: 47px;
		border-radius: 50%;
		object-fit: fill;
		border: 3px solid #fff;
	}
}

.productImgContainer2 {
	border-top-left-radius: 22px;
	border-bottom-left-radius: 28px;
	img {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		object-fit: cover;
	}
}

.incomingMessage {
	border-radius: 0px 8px 8px 8px;
}

.outGoingMessage {
	border-radius: 8px 0px 8px 8px;
}

.messagesBody {
	height: 580px;
	overflow: auto;
	margin: 0.2rem 0rem;

	.singleMessageD {
		align-items: end;

		img {
			width: 40px;
			height: 40px;
			object-fit: fill;
		}

		.sentImg {
			height: 100%;
			width: 100%;
			max-height: 200px;
		}
	}
}

.messagesBody::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.messagesBody::-webkit-scrollbar {
	width: 4px;
	background-color: #f5f5f5;
}

.messagesBody::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: $themeColor;
}

.sendMessageSec {
	padding: 0.5rem 1.2rem 0.5rem 1.2rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(240, 240, 240);

	div:nth-child(1) {
		width: 80%;
	}
	div:nth-child(2) {
		width: 20%;
	}

	.icon {
		position: absolute;
		left: 4%;
		top: 22%;
	}

	input {
		height: 3.5rem;
		border: none;
		border-radius: 12px;
		padding-left: 3.5rem;
		padding-right: 1.5rem;
		font-size: 1.4rem;
		outline: none;
		width: 100%;

		&:focus {
			outline: none;
		}
	}
}

/* ==== MESSAGE SECTION IN PROFILE END ==== */

/* ==== FAVORIS SECTION START ==== */
.favorisContainer {
	.MuiPaper-elevation4 {
		border-radius: 8px;
	}
	.MuiAppBar-colorDefault {
		background-color: #fff;
	}
	.makeStyles-root-1 {
		background: none;
	}
	.MuiTab-textColorPrimary.Mui-selected {
		color: $themeColor;
	}
	.MuiTab-root {
		font-size: 1.4rem;
		font-weight: 600;
	}
	.MuiTab-textColorPrimary {
		color: #424242;
	}
	.MuiTabs-indicator {
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		height: 4px;
	}
	.MuiBox-root {
		padding: 0px;
	}
	@media screen and (max-width: 992px) {
		.MuiPaper-elevation4 {
			border-radius: 0px;
			box-shadow: 1px 1px 10px #ccc;
		}
	}
}
/* ==== FAVORIS SECTION END ==== */

/* ==== Vendeurs Card START ==== */
.vendourMainContainer {
	@media screen and (max-width: 992px) {
		.userImg {
			width: 65px;
		}
	}
}

.vendeursContainer {
	width: 100%;
	overflow: auto;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.vendeursContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.vendeursContainer::-webkit-scrollbar {
	height: 3px;
	background-color: #f5f5f5;
}

.vendeursContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: $themeColor;
}

.vendeursCard {
	border-radius: 0px 0px 8px 8px;

	img {
		width: 100%;
		border-radius: 8px 8px 0px 0px;
	}
}

.dotsIcon {
	position: absolute;
	right: 0.7%;
	top: 10%;
	font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
	.dotsIcon {
		font-size: 2rem;
	}
}
/* ==== Vendeurs Card END ==== */

/* ======================== */
/* === PAGINATION START === */
/* ======================== */
.MuiPaginationItem-page {
	color: #000;
	font-weight: 600;
}

.MuiPaginationItem-page.Mui-selected {
	background: none !important;
	color: $themeColor;
	font-weight: 600;
}

.MuiPaginationItem-outlined {
	border: none !important;
}

.MuiPagination-root .MuiPagination-ul {
	flex-wrap: nowrap;
	border: none !important;
}

.MuiPagination-root .MuiPagination-ul li {
	border-left: 1px solid gray;
	height: 16px;
	display: flex;
	align-items: center;
	color: $themeColor;
}

.MuiPagination-root .MuiPagination-ul li:first-child {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-left: none;
}

.MuiPagination-root .MuiPagination-ul li:nth-child(2) {
	border: none;
}

.MuiPagination-root .MuiPagination-ul li:last-child {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: none;
}

/* ======================== */
/* === PAGINATION START === */
/* ======================== */

/* === CONNECTOR MODAL START === */
.connectModal_container {
	input[type="text"] {
		width: 100%;
		height: 40px;
		padding: 1rem;
		padding-left: 3rem;
		font-size: 1.4rem;
		border-radius: 6px;
		border: 1px solid #ccc;

		&:focus {
			outline: none;
		}
	}
	input[type="password"] {
		width: 100%;
		height: 40px;
		padding: 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
		font-size: 1.4rem;
		border-radius: 6px;
		border: 1px solid #ccc;

		&:focus {
			outline: none;
		}
	}
	.phoneIcon {
		position: absolute;
		left: 3%;
		top: 29%;
	}

	.lockIcon {
		position: absolute;
		left: 3%;
		top: 29%;
	}

	.eyeIcon {
		position: absolute;
		right: 3%;
		top: 29%;
	}

	.modalIcons {
		.icon-container {
			img {
				width: 100%;
				height: auto;
				padding: 6px;
				background: #e4e4e4;
				border-radius: 50%;
			}
		}
		.icon-container2 {
			img {
				width: 66%;
				height: auto;
				padding: 6px 5px;
				background: #e4e4e4;
				border-radius: 50%;
			}
		}
	}
}
/* === CONNECTOR MODAL END === */

/* === VERIFICATION MODAL START === */
.verificationModalBody {
	height: 250px;
	min-width: 280px;

	.verificationCode_container {
		width: 100%;

		.inputContainer {
			text-align: center;
		}

		.innerContainer > input {
			margin: 0px 4px;
			border-radius: 10px;
			border: solid 1px $themeColor;
			color: $themeColor;
			font-weight: 600;
			font-family: Arial, Helvetica, sans-serif;
		}

		.innerContainer > input:focus {
			border: solid 1px $themeColor;
		}

		.innerContainer > input:first-child,
		.innerContainer > input:last-child {
			border-radius: 10px;
			border: solid 1px $themeColor;
		}
	}
}

/* === VERIFICATION MODAL END === */

/* === USER MODAL START === */
@media screen and (min-width: 1000px) {
	.userModalContainer {
		min-width: 530px;
	}
}
.modalCloseIcon {
	background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
	padding: 5px 7px;
	padding-top: 3px;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	top: -2%;
	right: 1%;
}
/* === USER MODAL END === */

/* === MESSAGE MODAL START === */
.messageList {
	min-width: 550px;
	height: 300px;
}

.messageModalContainer {
	.sendContainer {
		width: 100%;

		.textField {
			width: 85%;
		}
		.sendIcon {
			width: 15%;
			text-align: center;
		}
	}

	.btnContainer {
		padding: 0px 8px;

		button {
			border: none;
			outline: none;
			background: #55acee;
			color: #fff;
			padding: 4px 12px;
			border-radius: 6px;
			font-size: 1.2rem;
		}

		@media screen and (max-width: 475px) {
			button {
				padding: 4px 0px;
			}
		}
	}
	.textField {
		background: #fff;
		border: 1px solid #cccc;
		border-radius: 8px;
		height: 70px;

		input {
			margin: 5px;
			width: 96%;
			height: 30px;
			border: none;
			font-size: 1.6rem;
			padding-left: 5px;

			&:focus {
				border: none;
				outline: none;
			}
		}
	}

	.sendIcon {
		font-size: 4.2rem;
		color: $themeColor;
	}
}

/* === CALL MODAL END === */
.callModalBody {
	.numberHead {
		font-size: 4rem;
	}
	.btnContainer {
		button {
			border: none;
			outline: none;
			padding: 5px 18px;
			font-size: 1.3rem;
			border-radius: 30px;
			color: #fff;

			&:focus {
				border: none;
				outline: none;
			}
		}
	}

	button:first-child {
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
	}
	button:nth-child(2) {
		background: linear-gradient(90deg, #f776af 0%, #fb2785 98.04%), #ffffff;
	}
	button:nth-child(3) {
		background: linear-gradient(90deg, #f2794e 0%, #eea96a 98.04%), #ffffff;
	}
	button:nth-child(4) {
		background: linear-gradient(90deg, #27d7da 0%, #0c9cc4 98.04%), #ffffff;
	}
	button:nth-child(5) {
		background: linear-gradient(90deg, #ffcc64 0%, #f9b221 98.04%), #ffffff;
	}
}
/* === CALL MODAL END === */

/* === COMMENT MODAL START === */
.commentModalContainer {
	.headerContainer {
		.userImg {
			height: 80px;
			width: 80px;
		}
	}

	.commentModalBody {
		min-width: 500px;
		overflow-y: scroll;
		height: 400px;

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			border-radius: 10px;
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar {
			width: 4px;
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			background-color: $themeColor;
		}
	}

	.cardComment {
		.commentUser {
			width: 50px;
			height: 50px;
		}
	}

	.sendContainer {
		width: 100%;

		.textField {
			width: 85%;
		}
		.sendIcon {
			width: 15%;
			text-align: center;
		}
	}

	.btnContainer {
		padding: 0px 8px;

		button {
			border: none;
			outline: none;
			background: #55acee;
			color: #fff;
			padding: 4px 12px;
			border-radius: 6px;
			font-size: 1.2rem;
		}
	}
	.textField {
		background: #fff;
		border: 1px solid #cccc;
		border-radius: 8px;
		height: 70px;

		input {
			margin: 5px;
			width: 96%;
			height: 30px;
			border: none;
			font-size: 1.6rem;
			padding-left: 5px;

			&:focus {
				border: none;
				outline: none;
			}
		}
	}

	.sendIcon {
		font-size: 4.2rem;
		color: $themeColor;
	}
}
/* === COMMENT MODAL END === */

/* === NOTIFICATION START === */
.notificationContainer {
	.imgContainer {
		img {
			width: 72px;
			height: 71px;
			border-radius: 50%;
		}
	}
	.img2Container {
		position: absolute;
		bottom: 0%;
		right: 0%;
		img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			border: 2px solid #fff;
		}
	}
	.notificationIcon {
		position: absolute;
		top: 1%;
		right: 1%;
		font-size: 2rem;
	}
}
/* === NOTIFICATION END === */

/* === MES CONTAINER START === */
.mesContainer {
	.inpContainer {
		width: 100%;
		position: relative;

		input {
			width: 100%;
			border: 1px solid $themeColor;
			outline: none;
			border-radius: 6px;
			height: 100%;
			padding-left: 3.2rem;
			font-size: 1.5rem;
		}

		.searchIcon {
			position: absolute;
			top: 24%;
			left: 1.5%;
			font-size: 2rem;
		}
	}
	.themeBtn2 {
		width: 20%;
	}

	.cardContainer {
		.section1 {
			width: 18%;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
		}
		.section2 {
			width: 82%;
		}

		.booste {
			background: linear-gradient(90deg, #38b05a 0%, #1c8202 98.04%), #ffffff;
			border-radius: 8px;
			color: #fff;
			padding: 1px;
			width: 78%;
			text-align: center;
			border-radius: 30px;
			font-size: 1.4rem;
		}

		.btnContainer {
			button {
				height: 95px;
				border: none;
				outline: none;
				padding-left: 2.5rem;
				padding-right: 2.5rem;
				color: #fff;
				font-size: 1.4rem;
			}
			button:nth-child(1) {
				background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
			}
			button:nth-child(2) {
				background: linear-gradient(270deg, #e9eaeb 0%, #e4e4e4 100%);
				border-top-right-radius: 8px;
				color: $themeColor;
			}
		}
	}

	.bottomSection {
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
		height: 100%;
		border-bottom-right-radius: 8px;
	}
}
/* === MES CONTAINER END === */

/* === MA BOUTIQUE CONTAINER START === */
.maBoutiqueContainer {
	.maBoutiqueUser {
		.userBg {
			position: relative;
			img {
				border: none;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}
			.bgImg {
				width: 100%;
				height: 280px;
				object-fit: cover;
				box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
			}
			.themeBtn {
				position: absolute;
				right: 1.2%;
				top: 4%;
				padding: 6px 8px;
				box-shadow: none;
			}

			.userImage {
				background-color: #fff;
				padding: 5px;
				border-radius: 50%;
				position: absolute;
				bottom: -19%;
				left: 5%;
			}

			img {
				width: 95px;
				height: 95px;
			}

			.cameraDiv2 {
				position: absolute;
				left: 6%;
				bottom: 2%;
				padding: 5px 9px;
				font-size: 15px;
				color: #077bc3;
				box-shadow: 1px 1px 10px #ccc;
				border-radius: 50%;
				background: #fff;
				cursor: pointer;
			}
		}
	}

	.navContainer {
		.innerNav {
			ul {
				a {
					color: #000;

					li {
						padding-bottom: 8px;
					}
				}

				.active {
					position: relative;
					color: $themeColor;

					&:before {
						content: "";
						position: absolute;
						border-bottom-left-radius: 8px;
						right: 0;
						bottom: 0;
						left: 0;
						height: 12%;
						background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%),
							#ffffff;
					}
				}
			}
		}
	}

	.topAvisContainer {
		background: linear-gradient(90deg, #e9e9e9 10.27%, #ffffff 100%), #c4c4c4;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		img {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			border: 3px solid #fff;
		}
	}
}

/* === MA BOUTIQUE CONTAINER END === */

/* === MESSAGE START === */
.messageContainerMobile {
	.heading {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.productImgContainer {
		img {
			width: 46px;
			height: 46px;
			border-radius: 50%;
			border: 3px solid #fff;
			object-fit: cover;
		}
	}
}
/* === MESSAGE END === */

/* === POSTERS START === */
.messagesBodyMobile {
	height: calc(100vh - 20.4vh);
	height: 100%;
	overflow-y: auto;
	// margin: 18rem 0rem 8rem 0rem;

	.singleMessage {
		align-items: end;

		.userImg {
			object-fit: fill;
			height: 37px;
			width: 37px;
		}
	}

	.sendMessageSec {
		position: fixed;
		bottom: 0%;
		left: 0%;
		background-color: #f7f7f7;
		right: 0%;

		.innerSendMessageSec {
			position: relative;
			padding: 0.5rem 1.2rem 0.5rem 1.2rem;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			input {
				height: 4.5rem;
				padding-left: 4.2rem;
				font-size: 1.8rem;
			}

			.icon {
				position: absolute;
				left: 4%;
				top: 24%;
				font-size: 3rem;
			}
		}
	}
}

.micRedBg {
	background-color: #ff0000;
	padding: 2rem;
}

// POSTER 2 START
.poster2Header {
	background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.poster2Details {
	.image-gallery-slide .image-gallery-image {
		object-fit: fill;
	}

	.image-gallery-thumbnail .image-gallery-thumbnail-image {
		height: 82px;
	}

	.image-gallery-content .image-gallery-slide .image-gallery-image {
		max-height: 450px;
		height: 450px;
		background-color: #fff;
	}
	.imgContainer img {
		position: absolute;
		top: 2%;
		right: 4%;
		padding: 1.1rem 1.1rem;
		height: 64px;
		background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%),
			#c4c4c4;
		border-radius: 50%;
	}
}

.continueBtnIcon {
	top: 14%;
	right: 1%;
}

.backBtnIcon {
	top: 14%;
	left: 2%;
}

/* === POSTERS END === */

/* === POSTER PAGE START === */
.posterInpContainer {
	width: 100%;
	border-bottom: 1px solid #cecece;

	.selectContainer {
		width: 50%;
	}

	select {
		border: none;
		font-size: 1.2rem;
		color: $themeColor;
		padding-right: 25px;

		option {
			border: none;
			padding: 1rem;
		}

		&:focus {
			border: none;
			outline: none;
		}
	}
	.selectIcon {
		position: absolute;
		right: -1%;
		bottom: -14%;
	}
	/* apply CSS to the select tag of 
	dropdown-container div*/

	select {
		/* for Firefox */
		-moz-appearance: none;
		/* for Safari, Chrome, Opera */
		-webkit-appearance: none;
	}

	/* for IE10 */
	select::-ms-expand {
		display: none;
	}
}

.posterSelectContainer {
	width: 45%;
}
/* === POSTER PAGE END === */

/* === UPLOAD IMAGE START === */
.uploadedImg {
	img {
		width: 165px;
		height: 140px;
	}

	.greenTick {
		img {
			position: absolute;
			height: 35px;
			width: 35px;
			bottom: -3%;
			background-color: #fff;
			border-radius: 60%;
		}
	}

	.removeBtn {
		img {
			position: absolute;
			height: 40px;
			width: 40px;
			top: -10%;
			right: -1%;
		}
	}
}
/* === UPLOAD IMAGE END === */

// ================= MOBILE STYLING START ========================
.homeMobile_container {
	background: url(../assets/bluredBg.jpg);
	height: 400px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.mobile_container2 {
	background-color: #e5e6e7;
	height: 100vh;
}
.mobileNavbar_container {
	padding: 1.5rem 1rem;
	background-color: #fff;
}

@media screen and (max-width: 350px) {
	.mobileNavbar_container {
		img {
			width: 36px;
			height: auto;
		}
		.logoContainer {
			img {
				width: 110px;
			}
		}
	}
}

// SEARCH FIELD START
.searchField {
	margin: 1.5rem 1rem;
	background: linear-gradient(180deg, #4dbcef 0%, #077bc3 100%);
	border-radius: 10px;

	.form-control {
		border-top-right-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
		height: 38px;
		font-size: 1.6rem;
		border: none;

		&:focus {
			color: none;
			background-color: none;
			border-color: none;
			outline: 0;
			box-shadow: none;
		}
	}

	.input-group {
		height: 38px;

		.input-group-prepend {
			.input-group-text {
				background-color: #fff;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				border: none;
			}
		}
		.input-group-append {
			.input-group-text {
				background: none;
				border-left: none;
				border-top-right-radius: 10px !important;
				border-bottom-right-radius: 10px !important;
				border: none;
			}
		}
	}
}
// SEARCH FIELD END

// HEADER BANNER START
.banner_container {
	margin: 1rem 1rem 1.4rem 1rem;
	background-color: #067ac2;
	border-radius: 8px;
}
// HEADER BANNER END

// FEATURE SECTION MOBILE START
.featureMobile_container {
	margin: 1rem;
	box-shadow: 0px 1px 10px #ccc;

	.mobileFeatureCard {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-left: 1px solid rgba(0, 0, 0, 0.1);
	}
}
// FEATURE SECTION MOBILE END

// ANNONCES CARD MOBILE START
.annoncesCardMobile {
	background: #fff;
	box-shadow: 1px 1px 10px #ccc;
	border-radius: 8px;

	.imgContainer {
		position: relative;
		cursor: pointer;

		.productImg {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}

		.heartOnImg {
			position: absolute;
			top: 2%;
			right: 2%;
			padding: 1rem 0.4rem 0.8rem 0.4rem;
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 50%;
		}

		.titleOnImg {
			position: absolute;
			bottom: 3%;
			left: 4%;
			padding: 0.4rem 1.8rem;
			background: rgba(0, 0, 0, 0.4);
			border-radius: 10px;
		}

		.musicOnImg {
			position: absolute;
			bottom: -13%;
			right: 2%;
			padding: 1rem 0.9rem;
			background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%),
				#c4c4c4;
			border-radius: 50%;

			img {
				width: 30px;
				height: auto;
			}
		}
	}

	.cardBtns {
		button {
			border: none;
			font-size: 1.3rem;
		}
		button:nth-child(1) {
			background: linear-gradient(270deg, #e66f01 0%, #ff9501 100%), #c4c4c4;
			border-bottom-left-radius: 8px;
		}
		button:nth-child(2) {
			background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
			border-bottom-right-radius: 8px;
		}
	}
}
// ANNONCES CARD MOBILE END

// BOTTOM NAVIGATION START
.bottomNav_container {
	position: fixed;
	width: 100%;
	left: 0%;
	bottom: 0%;

	.main_container {
		position: relative;
		width: 100%;
	}

	.main_div {
		display: flex;
		justify-content: space-around;
		margin-top: 2rem;
		padding: 1rem 0rem 0.5rem 0rem;
		background: #fff;
		box-shadow: 0px 0px 10px #ccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;

		.active {
			color: $themeColor;
		}

		a {
			color: #000;
			font-size: 1.5rem;
		}

		.each_navigation {
			display: flex;
			flex-direction: column;
			align-items: center;

			.NavIcon {
				padding: 0.4rem;
				border-radius: 50%;
				font-size: 3.5rem;
			}
		}
	}

	.addBtn {
		position: absolute;
		top: -20%;
		left: 50%;
		width: fit-content;
		transform: translate(-50%);
		cursor: pointer;

		span {
			background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
			padding: 10px 14px 14px 13px;
			border-radius: 50%;
			font-size: 2.5rem;
			color: #fff;
			box-shadow: 1px 2px 8px #ccc;
		}
	}
}
// BOTTOM NAVIGATION END\

// SIDE BAR START
.sidebarHeadContainer {
	height: 180px;
	width: 100%;
	background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
	padding: 3rem 0rem 0rem 2.2rem;

	.personImg {
		height: 70px;
		width: 70px;
		border-radius: 50%;
	}
}

@media screen and (max-width: 325px) {
	.sidebarHeadContainer {
		height: 160px;
	}
}

.sidebarBodyContainer {
	padding: 2.5rem 3.5rem;

	.userDDLSidebar {
		ul {
			.active {
				color: $themeColor;
			}
			a {
				text-decoration: none;
				color: #000;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.icon {
			font-size: 3.5rem;
		}

		.DDlName {
			font-size: 2rem;
		}
	}

	.sidebarFooter {
		margin-top: 9rem;
	}
}
// SIDE BAR EMD

// SEARCH HEADER START
.searchHeaderContainer {
	.firstRow {
		width: 100%;

		.mapIconContainer {
			width: 70px;

			h5 {
				color: $themeColor;
			}
		}
		.inpContainer {
			width: 82%;
		}
	}

	.inpContainer {
		background: linear-gradient(180deg, #4dbcef 0%, #077bc3 100%);
		border-radius: 15px;

		.form-control {
			border-left: none;
			border-top-right-radius: 15px !important;
			border-bottom-right-radius: 15px !important;
			height: 45px;
			font-size: 1.8rem;

			&:focus {
				color: none;
				background-color: none;
				border-color: none;
				outline: 0;
				box-shadow: none;
			}
		}

		.input-group {
			height: 45px;

			.input-group-prepend {
				.input-group-text {
					background-color: #fff;
					border-top-left-radius: 15px;
					border-bottom-left-radius: 15px;
				}
			}
			.input-group-append {
				.input-group-text {
					background: none;
					border-left: none;
					border-top-right-radius: 15px !important;
					border-bottom-right-radius: 15px !important;
				}
			}
		}

		.heartIcon {
			position: absolute;
			right: 15%;
			z-index: 1;
			top: 25%;
		}

		@media screen and (max-width: 300px) {
			.heartIcon {
				right: 18%;
				top: 25%;
			}
		}
	}

	.filterBtns {
		width: 100%;

		.themeBtn {
			width: 20%;
		}
		.searchTagsMobile {
			width: 80%;
		}
	}
}

.searchTagsMobile {
	width: 100%;
	div {
		height: 26px;
		background-color: #fff;
		font-size: 1.3rem;
		border-radius: 6px;
		width: 100%;
		font-weight: 600;

		img {
			position: absolute;
			top: -28%;
			right: -6%;
		}
	}
}
// SEARCH HEADER END

// PRODUCT DETAILS START
.productDetailsPage {
	.productImages {
		.productImgs {
			max-height: 350px;
			width: 100%;
			object-fit: cover;
		}

		.slick-dots {
			bottom: 5px;
		}

		.slick-dots li button:before {
			font-size: 12px;
			color: #067ac2;
		}

		.slick-dots li.slick-active button:before {
			color: #067ac2;
		}
	}

	.musicOnImg {
		background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%),
			#c4c4c4;
		padding: 1rem 0.9rem;
		border-radius: 50%;

		img {
			width: 30px;
			height: auto;
		}
	}

	.userImage {
		img {
			height: 75px;
			width: 75px;
			border-radius: 50%;
		}
	}
	.accordianContainer {
		.MuiSvgIcon-root {
			font-size: 2.5rem;
			color: $themeColor;
		}
		.MuiTypography-body1 {
			font-size: 1.8rem;
			font-weight: 600;
		}
		.MuiPaper-elevation1 {
			box-shadow: none;
		}
		.MuiAccordionSummary-root {
			border-bottom: 1px solid #afafaf;
		}
		.MuiAccordion-root:before {
			background: none;
		}
	}
}
// PRODUCT DETAILS END

// POSTER UN ARTICLES START
.posterLabelCheck {
	/* The container */
	.container {
		display: block;
		position: relative;
		padding-left: 25px;
		margin-bottom: 10px;
		cursor: pointer;
		padding-left: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */
	.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		border: 2px solid #fff;
		border-radius: 2px;
	}

	/* On mouse-over, add a grey background color */
	.container:hover input ~ .checkmark {
		background-color: transparent;
	}

	/* When the checkbox is checked, add a blue background */
	.container input:checked ~ .checkmark {
		background-color: transparent;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.container .checkmark:after {
		left: 6px;
		top: 2.4px;
		width: 5px;
		height: 10px;
		border: solid #fff;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

.negotiableLabel {
	/* The container */
	.container {
		display: block;
		position: relative;
		padding-left: 30px;
		margin-bottom: 10px;
		cursor: pointer;
		padding-left: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 1.5rem;
	}

	/* Hide the browser's default checkbox */
	.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		border: 2px solid $themeColor;
		border-radius: 2px;
	}

	/* On mouse-over, add a grey background color */
	.container:hover input ~ .checkmark {
		background-color: transparent;
	}

	/* When the checkbox is checked, add a blue background */
	.container input:checked ~ .checkmark {
		background-color: transparent;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.container .checkmark:after {
		left: 6px;
		top: 2.4px;
		width: 5px;
		height: 10px;
		border: solid $themeColor;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
.inpContainerPoster {
	input {
		color: #000;
		border: none;
		border-bottom: 1px solid #ccc;

		&::placeholder {
			color: #ccc;
		}

		&:focus {
			outline: none;
			border-bottom: 1px solid #000;
		}
	}
	textarea {
		color: #000;
		border: 1px solid #ccc;
		border-radius: 8px;

		&::placeholder {
			color: #ccc;
		}
		&:focus {
			outline: none;
			border: 1px solid #000;
		}
	}
}
// POSTER UN ARTICLES END

// CATEGORIES MOBILE LIST START
.categoryCard {
	height: 64px;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgb(226, 226, 226);
	border-radius: 10px;

	img {
		height: 64px;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}

	div:nth-child(1) {
		width: 60%;
	}
	div:nth-child(2) {
		width: 30%;
	}

	h4 {
		color: $themeColor;
	}
}
// CATEGORIES MOBILE LIST END

// PROFILE MOBILE START
.mobilProfilContainer {
	.userCard {
		.userBg {
			position: relative;
			img {
				border: none;
				border-radius: 0px;
			}
			.cameraDiv1 {
				position: absolute;
				right: 3%;
				bottom: 4%;
				padding: 3px 8px 5px 8px;
				font-size: 15px;
				color: $themeColor;
				box-shadow: 1px 1px 10px #ccc;
				border-radius: 50%;
				background: rgba(255, 255, 255, 0.9);
				cursor: pointer;
			}

			.cameraDiv {
				position: absolute;
				right: 2%;
				top: 4%;
				padding: 6px 8px;
				font-size: 15px;
				color: $themeColor;
				box-shadow: 1px 1px 10px #ccc;
				border-radius: 4px;
				background-color: #ffff;
				cursor: pointer;
			}

			.userImage {
				background-color: #fff;
				padding: 5px;
				border-radius: 50%;
				position: absolute;
				bottom: -22%;
				left: 5%;

				img {
					width: 95px;
					height: 95px;
				}

				.cameraDiv2 {
					position: absolute;
					left: 6%;
					bottom: 2%;
					padding: 5px 9px;
					font-size: 15px;
					color: #077bc3;
					box-shadow: 1px 1px 10px #ccc;
					border-radius: 50%;
					background: #fff;
					cursor: pointer;
				}

				@media screen and (max-width: 300px) {
					.cameraDiv2 {
						position: absolute;
						left: 6%;
						bottom: 2%;
						padding: 3px 7px;
						font-size: 14px;
						color: #077bc3;
						box-shadow: 1px 1px 10px #ccc;
						border-radius: 50%;
						background: #fff;
						cursor: pointer;
					}

					img {
						width: 61px;
						height: 61px;
					}
				}
			}
		}
	}
}
// PROFILE MOBILE END

// STATES START
.stateMobileContainer {
	width: 100%;
	overflow-x: auto;
	padding: 1rem 0rem;

	.statesCardMobile {
		height: 120px;
		box-shadow: 1px 1px 10px rgb(158, 158, 158);
		border-radius: 8px;
		padding: 0.5rem 1rem;
		padding-bottom: 1rem;

		.textContainer {
			width: 110px;
		}

		h1 {
			font-size: 5.2rem;
		}
		h6 {
			font-size: 1.7rem;
		}
	}
}
// STATES END

// MOBILE BOUTIQUE START
.mobilBoutiqueContainer {
	.userCard {
		.userBg {
			position: relative;
			img {
				border: none;
				border-radius: 0px;
			}
			.cameraDiv1 {
				position: absolute;
				right: 3%;
				bottom: 5%;
				color: $themeColor;
				box-shadow: none;
				border-radius: 50%;
				background: none;
				cursor: pointer;
			}

			.cameraDiv {
				position: absolute;
				left: 0%;
				top: 4%;
				padding: 6px 8px;
				font-size: 15px;
				color: $themeColor;
				background: none;
				box-shadow: none;
				border-radius: 4px;
				cursor: pointer;
			}

			.userImage {
				background-color: #fff;
				padding: 5px;
				border-radius: 50%;
				position: absolute;
				bottom: -22%;
				left: 5%;

				img {
					width: 95px;
					height: 95px;
				}

				.cameraDiv2 {
					position: absolute;
					left: 6%;
					bottom: 2%;
					padding: 5px 9px;
					font-size: 15px;
					color: #077bc3;
					box-shadow: 1px 1px 10px #ccc;
					border-radius: 50%;
					background: #fff;
					cursor: pointer;
				}

				@media screen and (max-width: 300px) {
					.cameraDiv2 {
						position: absolute;
						left: 6%;
						bottom: 2%;
						padding: 3px 7px;
						font-size: 14px;
						color: #077bc3;
						box-shadow: 1px 1px 10px #ccc;
						border-radius: 50%;
						background: #fff;
						cursor: pointer;
					}

					img {
						width: 61px;
						height: 61px;
					}
				}
			}
		}
	}

	.topAvisContainer {
		background: linear-gradient(90deg, #e9e9e9 10.27%, #ffffff 100%), #c4c4c4;
		border-top-left-radius: 22px;
		border-bottom-left-radius: 22px;

		img {
			border: 3px solid #fff;
			width: 48px;
			height: 48px;
			border-radius: 50%;
		}
	}
}

.recordingContainer {
	height: 70px;

	.recordingBtn {
		background: transparent;
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
		border: none;
		outline: none;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}

.articles {
	.topDiv1 {
		width: 80%;
	}
	.btnContainer {
		width: 20%;
		button {
			border: none;
			outline: none;
			height: 100%;
			color: #fff;
			width: 100%;
			font-size: 1.4rem;
		}
		button:nth-child(1) {
			background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
			border-top-right-radius: 8px;
		}
		button:nth-child(2) {
			background: linear-gradient(270deg, #e9eaeb 0%, #e4e4e4 100%);
			color: $themeColor;
		}
	}
	.productImg {
		width: 34%;
		border-top-left-radius: 8px;
	}
	.bottomSection {
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}

// MOBILE BOUTIQUE END

// POSTER MOBILE START
.inpContainerPosterMobile {
	input {
		color: #000;
		border: none;
		border-bottom: 1px solid #ccc;

		&::placeholder {
			color: #ccc;
		}

		&:focus {
			outline: none;
			border-bottom: 1px solid #000;
		}
	}
	textarea {
		color: #000;
		border: 1px solid #ccc;
		border-radius: 8px;

		&::placeholder {
			color: #ccc;
		}
		&:focus {
			outline: none;
			border: 1px solid #000;
		}
	}
}

.negotiableLabelMobile {
	/* The container */
	.container {
		display: block;
		position: relative;
		padding-left: 30px;
		margin-bottom: 10px;
		cursor: pointer;
		padding-left: 26px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 1.8rem;
	}

	/* Hide the browser's default checkbox */
	.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		border: 2px solid $themeColor;
		border-radius: 2px;
	}

	/* On mouse-over, add a grey background color */
	.container:hover input ~ .checkmark {
		background-color: transparent;
	}

	/* When the checkbox is checked, add a blue background */
	.container input:checked ~ .checkmark {
		background-color: transparent;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.container .checkmark:after {
		left: 6px;
		top: 2.4px;
		width: 5px;
		height: 10px;
		border: solid $themeColor;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
// POSTER MOBILE END

/* === UPLOAD IMAGE START === */
.uploadedImgMobile {
	img {
		max-width: 135px;
		width: 100%;
		border-radius: 12px;
	}

	.greenTick {
		img {
			position: absolute;
			height: 25px;
			width: 25px;
			bottom: -3%;
			background-color: #fff;
			border-radius: 60%;
		}
	}

	.removeBtn {
		img {
			position: absolute;
			height: 28px;
			width: 28px;
			top: -10%;
			right: -1%;
		}
	}
}
.uploadImgPMobile {
	img {
		width: 100%;
	}
}
/* === UPLOAD IMAGE END === */

// ================= MOBILE STYLING END ========================
